.search-input {
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}

.custom-margin {
  margin-bottom: 1rem;
}

/* Large devices (laptop / desktop) */
@media (min-width: 1024px) {
  .top-padding {
    padding: 0.5rem 0rem 1rem 5rem;
  }

  .custom-padding {
    padding: 0.5rem 10rem 1rem 10rem;
  }
}

/* Medium devices (tablet) */
@media (max-width: 1023px) and (min-width: 640px) {
  .top-padding {
    padding: 0.5rem 5rem 1rem 2.5rem; /* tablet padding */
  }

  .custom-padding {
    padding: 0.5rem 5rem 1rem 5rem; /* tablet padding */
  }
}

/* Small devices (mobile) */
@media (max-width: 639px) {
  .top-padding {
    padding: 0.5rem 1rem 0.5rem 1rem; /* mobile padding */
  }

  .custom-padding {
    padding: 0.5rem 1rem 0.5rem 1rem; /* mobile padding */
  }
}
